@inherits LayoutComponentBase

<div class="relative flex w-screen h-screen overflow-hidden text-xs select-none font-gont text-white_normal">

    <div class="h-full w-fit">
        <NavMenu></NavMenu> 
    </div>

    <div class="w-full h-full">
        @Body
    </div>

    <span class="text-orange"></span>
    
</div>

@code{

}